body {
	font-family: "Poppins", sans-serif;
	margin: 0;
	align: justify;
}

header {
	background-color: #1239;
	margin: 0;
	position: sticky;
	top: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.logo {
	float: left;
	display: inline-block;
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 24px 16px;
}
.nav-bar {
	float: right;
}
.nav-menu, .support{
	display: inline-block;
	font-weight: bold;
	color: white;
	text-align: center;
	padding: 24px 50px;
}
a {
	text-decoration: none;
	color: white;
}
.header-img {
	width: 1200px;
	height: 400px;
}
footer {
	display: flex;
	background-color: #233142;
	color: white;
}
.footer {
	margin: 30px;
	width: 500px;
	text-align: justify;
}
.newsletter {
	display: flex;
}
.text-box {
	width: 250px;
	height: 25px;
	margin-right: 0;
	padding: 5px;
	border: none;
}
.go-button {
	width: 40px;
	border: none;
	background-color: #61d2b4;
}
.donate-button {
	width: 200px;
	height: 50px;
	background-color: #61d2b4;
	border-style: none;
	color: white;
	font-weight: bold;
	font-size: 20px;
}
.hotline-number {
	font-weight: bold;
	font-size: 28px;
	border-style: none;
}

.nav-a:hover{
	padding: 24px 50px;
	background-color: #1329;
	transition: 0.9s;
	color: antiquewhite;
	font-weight: bold;
}
.drop-down {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	padding: 40 0px;
}
.support: hover {
	{
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	padding: 40 0px;
	}
}